# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
.next/
dist/
build/
.env*
.vercel
*.log
.DS_Store
.vscode/
prisma/generated/
/express-api/node_modules/
/express-api/.env
